/* ---------- RecipeBrowser ---------- */

.RecipeBrowser_root {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.RecipeBrowser_sidebar {
  height: 100%;
  overflow-y: scroll;
  background: #e8e7e7;
  padding: 0.5rem;
  transition: all 0.45s cubic-bezier(0.4, 0, 0.2, 1);
  border-right: 1px solid #eee;
}

.RecipeBrowser_main {
  height: 100%;
  overflow-y: scroll;
  background: #fdfdfd;
  transition: flex-basis 0.45s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s ease;
}

.RecipeBrowser--full .RecipeBrowser_sidebar {
  flex-basis: 100%;
}

.RecipeBrowser--full .RecipeBrowser_main {
  flex-basis: 0%;
  opacity: 0;
  pointer-events: none;
}

.RecipeBrowser--split .RecipeBrowser_sidebar {
  flex-basis: 300px;
}

.RecipeBrowser--split .RecipeBrowser_main {
  flex-basis: calc(100% - 300px);
  opacity: 1;
}




/* ---------- RecipeList ---------- */

.RecipeList_root {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 0.5rem;
  transition: all 0.3s ease;
}




/* ---------- RecipeCard ---------- */

.RecipeCard_root {
  height: 100%;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: #5a5a6e33 0px 7px 29px 0px;
  background-color: #f7f7f7ff;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.RecipeCard_main {
  display: grid;
  grid-template-columns: 2fr 4fr;
  gap: 0.5rem;
  width: 100%;
}

.RecipeCard_image {
  width: 100%;
  border-radius: 5%;
  flex-shrink: 0;
}

.RecipeCard_info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  min-width: 0px;
}

.RecipeCard_title {
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 400;
  font-family: sans-serif;
}

.RecipeCard_description {
  font-weight: 100;
  font-size: 0.7rem;
  color: rgb(89, 89, 89);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  overflow: hidden;
}






/* ---------- BadgeList ---------- */

.BadgeList_root {
  display: flex;
  flex-wrap: wrap;
  gap: 0.2rem;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.BadgeList_root--expanded {
  flex-wrap: wrap;
  overflow: visible;
}





/* ---------- Badge ---------- */

.Badge {
  font-size: 0.65rem;
  text-transform: capitalize;
  border-radius: 1rem;
  transition: all 0.2s ease;
  padding: 0.1rem 0.25rem;
}

.Badge.Badge--spirit {
  background-color: var(--badge-bg, #a9a9a981);
  color: var(--badge-text, #373737ff);
}

.Badge.Badge--flavor {
  background-color: transparent;
  color: rgb(102, 102, 102);
  padding: 0;
  font-size: 0.5rem;
  display: flex;
  flex-direction: column ;
  align-items: center;
}

.Badge.Badge--ghost {
  cursor: pointer;
  background-color: transparent;
  color: #272727;
  border: 1px solid #4e4e4e;
  font-size: 0.5rem;
  padding: 0rem 0.25rem;
}
.Badge.Badge--ghost:hover {
  background-color: #00000010;
}

.Badge.Badge_icon {
  flex-shrink: 0;
}






/* ---------- RecipeDetails ---------- */

.RecipeDetails_root {

}

.RecipeDetails {

}